$main-bg-color: #eff0f2;
$secondary-bg-color: #f8fafa;
$main-font-color: #505050;

$grey-color: #e8e9eb;
$white-color: #ffffff;
$black-color: #000000;
$dots-color: #dbdbdb;
$form-color: #4a5862;

$accent-color-light: #b8f2ee;
$accent-color-bright: #6ff6eb;
$accent-service-color: #71f5ea;
$accent-form-color: #6eeee4;

$position-font-color: #767070;
$footer-bg-color: #262b2e;

$montserrat-font: "Montserrat", sans-serif;
$merriweather-font: "Merriweather", serif;
$raleway-font: "raleway", sans-serif;
